@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
  /* colors */ 
  --color-primary: hsl(316 72% 86%);
  --color-secondary: hsl(115 54% 76%);
  --color-accent: hsl(199 76% 69%);
  --color-base: hsl(240 21% 15%);
  --color-mantle: hsl(240 21% 12%);
  --color-text: hsl(226 64% 88%);
  --color-subtext: hsl(228 24% 72%);
  --color-subtext2: hsl(237 16% 23%);
  --color-crust: hsl(240 23% 9%);

  /* fonts */ 
  --font-brand: "Inter", sans-serif;
}
