---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import avatar from '../assets/puma-avatar.png';
import Button from '../components/Button.astro';
---

<Layout>
  <div class="flex flex-col items-center gap-4
              bg-base rounded-xl p-8 mx-4">
    <Image src={avatar} alt="Pink Puuma avatar" class="rounded-full w-[7rem] h-[7rem]" />
    <h1 class="text-primary text-xl font-bold">pinkpuuma</h1>
    <div class="flex items-center">
      <i class="fa-solid fa-location-dot text-primary pr-2"></i>
      <p class="text-secondary font-bold text-lg">Earth</p>
    </div>
    <p class="text-text text-md">"Front-end developer. BJJ Enthusiast. Guitarist."</p>

    <Button
        url="https://github.com/pinkpuuma"
        label="GitHub"
    />
    <Button
        url="https://www.reddit.com/user/pinkpuuma/"
        label="Reddit"
    />
  </div>

  <footer>
    <div>
      <p class="mt-4 text-md text-center text-text font-bold">
        Colors by
        <a 
          href="https://catppuccin.com/palette/" 
          target="_blank" 
          rel="noopener noreferrer" 
          class="font-extrabold bg-gradient-to-r from-primary via-secondary to-accent bg-clip-text text-transparent"
        >Catppuccin</a>. 
      </p>
    </div>
  </footer>
</Layout>
