---
interface Props {
  url: string;
  label: string;
  }

  const { url, label } = Astro.props;
---

<a href={url}
   target="_blank"
   rel="noopener noreferrer"
   class="flex items-center justify-center 
    py-4 px-32
    bg-primary text-mantle font-bold font-bold rounded-full
    hover:scale-105 transition duration-300 ease-in-out
    cursor-pointer">
  {label}
</a>
